{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h4>Movie Detail</h4>
<hr>
<div class="row">
    <div class="col-3" style="height: 400px">
        <img src="https://image.tmdb.org/t/p/w342//{{movie.poster}}" class="card-img-top" alt="movie image" width="70%" height="100%">
    </div>
    <div class="col-9">
        <div class="d-flex justify-content-between">
            <h5 class="mt-2">{{movie.title}}</h5>
            <a href="{% url 'movies:review_create' movie.pk %}" class="btn btn-secondary">Write a review</a>
        </div>
        <hr>
        <p>Release Date: {{release_date}}</p>
        <p>Rating: {{movie.vote_average}}</p>
        <p>Genre: {% for genre in genres %} <span class="ml-2 text-secondary"><strong>{{genre}}</strong></span>{% endfor %}</p>
        <p>Country: {{country}}</p>
    </div>
</div>

<hr>
<div class="mx-3">
<h5>Overview for movie</h5>
<p>{{movie.content}}</p>
<hr>

<div class="my-5">
        <h5 class="mt-2 mb-4">Reviews for <strong>{{movie.title}} </strong></h5>
    {% for review in movie.reviews.all %}
        <p>
            <strong><a href="{% url 'movies:review_detail' review.pk %}" class="text-decoration-none">{{review.title}}</a></strong>
            <span class="badge badge-warning mr-2">{{review.rating}}/5 </span>  |
            <a href="{% url 'profile' review.user.username %}" class="ml-2 text-decoration-none text-reset"><img src="{{review.user.gravatar_url}}" class="rounded-circle mr-2" height="30" width="30"/> {{review.user}}</a></p>
    {% empty %}
    <div class="my-5 text-center">
        <h5> There is no review for this movie.</h5>
        <p>Be the first reviewer!</p>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}



