{% extends 'base.html' %}
{% load bootstrap4 %}
{% load mathfilters %}
{% block content %}
<a href="{% url 'movies:movie_detail' review.movie.pk %}" class="text-decoration-none text-reset">
<h4>Review for {{review.movie.title}}</h4>
</a>
<hr>
<div class="row px-4">
    <div class="col-3">
        {% if review.image%}
            <img src="{{review.image_thumbnail.url}}"/>
        {% else %}
            <img src="https://image.tmdb.org/t/p/w342//{{review.movie.poster}}" width="70%" height="100%">
        {% endif %}
    </div>
    <div class="col-9">
        <div class="d-flex justify-content-between mt-2 mb-4">
            <h4>{{review.title}} </h4>
            <div >
                 <span>
                     <a href="{% url 'movies:like' review.pk %}">
                        {% if request.user in review.like_users.all %}
                        <i class="fas fa-heart fa-lg text-danger mr-2"></i>
                        {% else %}
                        <i class="far fa-heart fa-lg text-danger mr-2 animated infinite bounce slow delay-1s"></i>
                        {% endif %}
                    </a>
                 </span>
                 <span>
                  {% if review.like_users.count >= 2 %}
                    Liked by {{article.like_users.first }} and {{review.like_users.count|sub:1}} others
                  {% elif review.like_users.count == 1 %}
                    Liked by {{review.like_users.first }}
                  {% else %}
                  {% endif %}
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-between ">
            <a class="text-decoration-none text-reset" href="{% url 'profile' review.user.username %}" >
            <p style="font-size: 1.2rem"><img src="{{review.user.gravatar_url}}" class="rounded-circle mr-2" height="40" width="40"/><strong>{{review.user}}</strong></p>
            </a>
            <p style="font-size: 0.8rem">{{review.created_at|date:'Y-m-d H:i'}}</p>
        </div>
        <p class="d-block">{{review.content}}</p>
    </div>
    {% if request.user == review.user %}
<div class="my-3 mx-3">
    <a class="btn btn-success" href="{% url 'movies:review_update' review.pk %}">Update</a>
    <a class="btn btn-danger" href="{% url 'movies:review_delete' review.pk %}">Delete</a>
</div>
{% endif %}
<hr>

</div>

<hr>
<div class="px-4">
    <h5>Comment {% if review.comments %} | <small>({{review.comments.count}})</small>  {% endif %}</h5>

    <hr>
    {% for comment in review.comments.all %}
    <div class="d-flex justify-content-between">
      <p>{{comment.content}} <span class="ml-5" style="font-size: 0.8rem">{{comment.created_at|date:'Y-m-d H:i'}} </span></p>
      <div class="d-flex justify-content-end">
        <p class="px-2 mr-5">
            <a class="text-decoration-none text-reset" href="{% url 'profile' comment.user.username %}" >
            <img src="{{comment.user.gravatar_url}}" class="rounded-circle mr-2" height="30" width="30"/> {{comment.user}}</p>
            </a>
        {% if comment.user == request.user %}
          <a href="{% url 'movies:comment_delete' review.pk comment.pk %}" class="text-decoration-none">Delete</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div>
      <form action= "{% url 'movies:comment_create' review.pk  %}" method='POST'>
        {% csrf_token %}
        <div class="d-flex justify-content-between align-items-center">
          <div class="w-100">{% bootstrap_form form %}</div>
          <div><button class="btn btn-warning mb-2">Submit</button></div>
        </div>
      </form>
    </div>
</div>
{% endif %}
{% endblock %}