{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h4 class="mt-2 mb-4">Review List</h4>
<hr>
<table class="table">
  <thead>
    <tr class="bg-warning">
      <th scope="col">No</th>
      <th scope="col">Movie</th>
      <th scope="col">Review</th>
      <th scope="col">Writer</th>
      <th scope="col">Likes</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row">{{review.pk}}</th>
      <td><a class="text-decoration-none text-reset" href="{% url 'movies:movie_detail' review.movie.pk %}">{{review.movie.title}}</a></td>
      <td><a class="text-decoration-none text-reset" href="{% url 'movies:review_detail' review.pk %}"> <span class="badge badge-dark text-warning mr-2">★ {{review.rating}} </span>  {{review.title}}</a></td>
      <td><a class="text-decoration-none" href="{% url 'profile' review.user.username %}" >{{review.user}}</a></td>
      <td>{{review.like_users.count}}</td>
      <td>{{review.comments.count}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}